body, html {
  height: 100vh;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul>div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

h1, h3 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.left {
  background-color: #1992d4;
}

.sidebar-cont {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-auto-flow: row;
  justify-items: space-between;
  color: white;
}

.trageted-logo {
  font-size: 32px;
  font-weight: bold;
  gap: 12px;
}

.site-links {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-cont {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header-top-row {
  display: flex;
  gap: 8px;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 8px;
}

.search {
  flex: 1;
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
}

.notif-icon {
  margin-left: 10%;
}

.header-bottom-row {
  display: grid;
  column-gap: 8px;
  grid-template-columns: 1fr 5fr 5fr;
  place-items: center start;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0 4px 2px -2px silver;
}

.greeting {
  font-weight: bold;
}

.user-name {
  font-size: 24px;
}

.action-buttons {
  display: flex;
  width: 100%;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.action {
  display: flex;
  border: none;
  background-color: #1992d4;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  height: 32px;
  width: 32px;
  font-size: 16px;
}

.proj-cont {
  background-color: #e2e8f0;
  height: 67%;
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: 4fr 1fr;
  padding-left: 16px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.proj-cont h1 {
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.proj-card {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  border-left-width: thick;
  border-left-style: solid;
  border-left-color: #f0b429;
  display: flex;
  flex-direction: column;
}

.card-content {
  font-size: 12px;
  color: #646464;
}

.interaction-buttons {
  align-self: flex-end;
  display: flex;
  gap: 16px;
}

.fav {
  content: url("../images/star-outline.png");
}

.follow {
  content: url("../images/eye-outline.png");
}

.share {
  content: url("../images/share-variant.png");
}

.proj-cont-right-bottom,
.proj-cont-right-top {
  display: grid;
  gap: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
  font-size: 12px;
  text-align: left;
}

.proj-cont-right-top {
  grid-template-rows: repeat(3, 1fr));
  color: #646464;
  align-content: center;
  justify-items: center;
  margin-bottom: 16px;
}

.proj-cont-right-top h3 {
  font-size: 16px;
  color: black;
}

.annouce-card {
  padding-top: 8px;
  padding-bottom: 8px;
}

.annouce-card:nth-child(n+2) {
  border-top-color: #e0e0e0;
  border-top-width: 2px;
  border-top-style: solid;
}

.proj-cont-right-bottom {
  grid-template-rows: repeat(4, 1fr);
}

.user-cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.handel-content {
  color: #646464;
}

.profile-icon-large,
.profile-icon {
  border-radius: 50%;
}

.profile-icon {
  max-width: 48px;
  max-height: 48px;
}

.profile-icon-large {
  max-width: 72px;
  max-height: 72px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
}
