body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul>div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  justify-content: start;
}

h1 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.left {
  background-color: #1992d4;
}

.sidebar-cont {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-auto-flow: row;
  justify-items: space-between;
  color: white;
}

.trageted-logo {
  font-size: 32px;
  font-weight: bold;
  grid-column-gap: 94px;
}

.header-cont {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header-top-row {
  display: flex;
  gap: 8px;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 8px;
}

.search {
  flex: 1;
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
}

.notif-icon {
  margin-left: 10%;
}

.header-bottom-row {
  display: grid;
  column-gap: 8px;
  grid-template-columns: 1fr 5fr 5fr;
  place-items: center start;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0 4px 2px -2px silver;
}

.greeting {
  font-weight: bold;
}

.user-name {
  font-size: 24px;
}

.action-buttons {
  display: flex;
  width: 100%;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.action {
  display: flex;
  border: none;
  background-color: #1992d4;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  height: 32px;
  width: 32px;
  font-size: 16px;
}

.proj-cont {
  background-color: #e2e8f0;
}
